SECRET_KEY=django-insecure-change-me
DEBUG=True
DJANGO_SETTINGS_MODULE=config.settings.docker

ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000

DB_NAME=gestor_documental
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432